# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
.vs/

# Model files
*.h5
*.pkl

# Dataset
dataset/*
!dataset/dataset.csv

# Data
data/*
!data/train.csv
!data/val.csv
!data/test.csv

# Logs
*.log